<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Socket.io</title>
    <script src="jquery-3.1.1.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript">
      let des = null;

      $(document).ready(() => {
        var socket = io.connect();

        $('#btn-signup').click(() => {
          let username = $('#txt-username').val();
          socket.emit('CLIENT_SIGN_UP', username);
        });

        $('#btn-send').click(() => {
          let msg = $('#txt-message').val();
          socket.emit('CLIENT_SEND_MESSAGE', {des, msg});
        });

        socket.on('LIST_ONLINE_USER', arrUsername => {
          arrUsername.forEach(username => {
            $('#ul-username').append(`<li id="user-${username}">${username}</li>`)
          })
        });

        socket.on('RECEIVE_NEW_MESSAGE', msg => {
          $('#ul-message').append(`<li>${msg}</li>`)
        });

        socket.on('SERVER_ACCEPT_USERNAME', username => {
          alert('Username cua ban la: ' + username);
          $('#div-signup').hide();
        });

        socket.on('SERVER_REJECT_USERNAME', () => {
          alert('Vui long chon username khac');
        });

        socket.on('NEW_USER_CONNECTED', username => {
          $('#ul-username').append(`<li id="user-${username}">${username}</li>`);
        });

        socket.on('USER_DISCONNECTED', username => {
          let id = `#user-${username}`;
          console.log(id);
          $(id).remove();
        });

        $('#ul-username').on('click', 'li', function(){
          $('#ul-username li').removeClass('active');
          des = $(this).html();
          $(this).addClass('active');
        });
      });
    </script>
    <style>
      #ul-message {
        background-color: #C94B17
      }
      .active {
        color: #74FFCE
      }
    </style>
  </head>
  <body>
    <div id="div-signup">
      <input type="text" placeholder="Username" id="txt-username"/>
      <br/><br/>
      <button id="btn-signup">Sign Up</button>
    </div>

    <div id="div-chat">
      <input type="text" placeholder="Your message" id="txt-message"/>
      <br/><br/>
      <button id="btn-send">Send</button>
    </div>

    <ul id="ul-username">
    </ul>

    <ul id="ul-message">

    </ul>
  </body>
</html>
