<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Socket.io</title>
    <script src="jquery-3.1.1.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript">
      $(document).ready(() => {
        var socket = io.connect();

        $('#btn-signup').click(() => {
          let username = $('#txt-username').val();
          socket.emit('CLIENT_SIGN_UP', username);
        });

        socket.on('LIST_ONLINE_USER', arrUsername => {
          console.log(arrUsername);
        });

        socket.on('SERVER_ACCEPT_USERNAME', username => {
          alert('Username cua ban la: ' + username);
        });

        socket.on('SERVER_REJECT_USERNAME', () => {
          alert('Vui long chon username khac');
        });

        socket.on('NEW_USER_CONNECTED', username => {
          $('#ul-username').append(`<li id="user-${username}">${username}</li>`);
        });



        socket.on('USER_DISCONNECTED', username => {
          let id = `#user-${username}`;
          console.log(id);
          $(id).remove();
        });

      });
    </script>
  </head>
  <body>
    <div id="div-signup">
      <input type="text" placeholder="Username" id="txt-username"/>
      <br/>
      <button id="btn-signup">Sign Up</button>
    </div>

    <ul id="ul-username">
    </ul>

  </body>
</html>
